<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="layout/layout-logged :: head"></head>
<body>
	<header th:replace="layout/layout-logged :: header"></header>

	<div class="container">


		<div class="jumbotron">
			<h1>Online Data</h1>
		</div>

		<div class="row ">
			<div class="col-sm-3">
				<div class="card">
					<img class="card-img-top" src="/images/anunciate-aqui.png"
						alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title">Anuncios Disponibles</h5>
						<p class="card-text">Necesitamos vender publicidad para que la
							empresa pueda capitalizar con este producto.</p>
						<a href="#" class="btn btn-primary">Anunciate Ya!</a>
					</div>
					<div class="card-footer">
						<small class="text-muted">Last updated 3 mins ago</small>
					</div>
				</div>
			</div>
			<div class="col-sm-9 ">

				<div class="card text-white bg-dark mb-3 content text-center">
					<div class="card-header font">Visitar usuario</div>
					<div class="card-body">

						<form th:action="@{/visitar}" th:object="${visita}"
							method="post">

							<div class="form-group">
								<label for="inputPassword4">Clave de visita</label> <input
									type="text" class="form-control" th:field="*{clave}"
									th:errorclass="'form-control alert-danger'"
									placeholder="Usuario-fecha"> <small
									class="form-text text-danger"
									th:if="${#fields.hasErrors('clave')}" th:errors="*{clave}"></small>
							</div>

							

							<button type="submit" class="btn btn-primary">Visitar</button>
						</form>

					</div>
				</div>


			</div>
		</div>
	</div>
	<footer th:replace="layout/layout :: footer"></footer>
</body>
</html>