
.jumbotron{
	margin-bottom:1em;
	margin-top:1em;
	background-image: url("../images/banner-dataonline.jpg");
	backgroud-size: cover;
	color: white;
}

.content{
	margin-top:1em;
}


.font{
	font-size: 23px;
}

.sexo{
	margin-left: 40%;
	margin-bottom: 10px;
}
.menu{
	margin-right: 50%;
}

.firt-element{
	padding-left: 50%;
}